/* All Shared styles Properties */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color:rgba(26,11,46,1)
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
  }

  .color-dark_purple {
    color:rgba(26,11,46,1)
  }

  .color-light_purple {
    color:rgba(65,37,103,1)
  }
  
.color-white{
    color:#ffffff;
}

.color_gradient{
    /* color code- rgba(251,9,180,1),rgba(145,0,248,1); */
    color:color-mix(in lab, rgba(145,0,248,1) 35%, rgba(251,9,180,1) 65%)
}

  .btn {
    border: 10px;
    padding: 12px 16px;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    color:white;
    cursor: pointer;
    text-align: center;
    background-image: linear-gradient(rgba(247,233,63,1),rgba(251,9,180,1),rgba(145,0,248,1));
  }

  .text-center{
    display: flex;
    gap: 10px;
    text-align: center;
  }

  .btn-display{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #ffffff;
    
  }

  .btn-img{
        width: 20px;
        height: 20px;
        display: inline;
        /* background-image: linear-gradient(rgba(247,233,63,0.0),rgba(251,9,180,0.0),rgba(145,0,248,0.0)); */
        background-color: linear-gradient(rgba(247,233,63,0.5),rgba(251,9,180,0.5),rgba(145,0,248,0.5));
  }

  .display-flex{
    display: flex;
  }
/* Navbar Related Styles */
nav {
    width: 85%;
    max-width: 1600px;
    margin: 16px auto;
    border-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px 120px;
    background-color: rgba(26,11,46,1);
  }

  nav .menu {
    display: flex;
    list-style-type: none;
    gap:34px;
    align-items: center;
  }

  nav .menu a {
    font-size: 16px;
    color: white;
    text-decoration: none;
    align-items: center;
    font-weight: 500;
  }

#button-nav .btn{
    padding-right: 16px 200px;
    /* background-image: linear-gradient(rgba(247,233,63,1),rgba(251,9,180,1),rgba(145,0,248,1)); */
}

.logo h2 .menu #button-nav .btn{
    display: flex;
    gap: 346px;
    align-items: center;   
}
/* Hero banner Related Styles */
#hero-banner {
    /* border: 1px solid red; */
    background-image: url("./images/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1600px;
    width: 100%;
    height: 760px;
    position: relative;
    margin: 0 auto;
    
}
 .banner-content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 650px;
  /* Add styling for the overlay content (e.g., color, alignment) */
  /* background-color: rgba(0, 0, 0, 0.5); Semi-transparent background for readability */
  /* color: black; */
  display: flex;
  flex-direction: column;
  justify-content: center;   /* Vertically center content */
  align-items: center;      /* Horizontally center content */
  text-align: center;
  

  }

  .banner-content .banner-inside-content{
   margin: 101px 525px; 
   padding-top: 20px;
   
  }

  .banner-inside-content .banner-inside-img{
    border-radius: 8px;
    width: 350px;
    height: 350px;
    border: 100px 625px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgba(42,24,108,1);
  }

  /* .banner-content .banner-inside-content h1{
    font-size: 3.75rem;
    font-weight: 800;
    line-height: 0px;
    text-align: center;
    gap: 40px;
  }
  */

  .btn .text-center{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap: 16px;
    padding: 12px 16px;
    margin-bottom: 84px auto;
    line-height: 50px;
    
  } 


#btn-2{
  background-color:rgb(69, 66, 66,0.5);
  color: green;
  border: 1px solid green;
  background: none;
  padding: 12px 16px;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
 }
 
  #hero-banner .banner-content .banner-inside-content .banner-inside-para{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
  }

  .banner-inside-para h1{
    font-size: 3.75rem;
    font-weight: 800;
    /* line-height: 0px; */
    text-align: center;
    gap: 40px;
  }
.banner-inside-para p{
    color: #ffffff;
    font-weight: 500;
    font-size: 1rem; 
    /* padding-bottom: 20px; */
    text-decoration: none;
    gap: 8px;
  }

 .banner-inside-content .overlay-banner-img{
    position: absolute; 
    /* position: sticky; */
    width: 80px;
    height: 120px;
    top: 200px;
    left: 750px;
    right: 700px;
    bottom: 390px;
    z-index: 2;
    /* top: 330px;
    left: 250px;
    right: 200px;
    bottom: 97px; */
    
    /* margin: 0 auto; */
 
  /* object-fit: cover;  */
  /* margin: 77px 116px 97px; */
  /* padding: 8px 41px 16px; */
  }

  .corner-ribbon {
    position: absolute;
    top: 120px;
    right: 120px;
    left: 880px;
    background: #00FF88;
    color: white;
    padding: 8px 16px;
    transform: rotate(-360deg);
    font-size: 1rem;
    /* font-weight: 400; */
    width: 75px;
    height: 35px;
    line-height: 10px;
    border-radius: 20px;
  }


/* Podcast Related Styles */
.Podcast-title {
    font-size: 2.8rem;
    font-weight: 700;
    /* margin: 50px 200px 538px; */
    padding-left: 200px;
    margin: 0 auto;
    width: 1200px;
    line-height: 75px;
  }
  #Podcast-description-1{
    line-height: 20px;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    padding-right: 380px;
  }


  .Podcast-container {
   display: grid;
   grid-template-columns: repeat(2,1fr);
   padding-top: 50px;
   padding-left: 650px;

   /* padding-bottom: 538px; */
   /* margin: auto 290px; */
   /* gap: 124px; */
  }


  
  .Podcast-card{
    border: 1px solid rgba(26,11,46,1);
    width: 1200px;
    height: 94px;
    border-radius: 8px;
    gap: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #00FF88;;
  }
  .Podcast-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #00FF88;;
  }
  
  .Podcast-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
    color: #00FF88;;
  }
  
  #Podcast-description{
    max-width: 540px;
    color: #00FF88;;
  }
/* Choose_Techwave Related Styles */
/* #tech_wave {
  border: 1px solid #00FF88;
   width: 1440px;
   height: 1121px;
   
   align-items: center;
   justify-content: flex-start;
   flex-direction: column;
   margin: 0 auto;
   color: #ffffff;
   
}

  .container_title{
    width: 1200px;
    height: 55px;
    font-size: 3rem;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
    padding: 120px 200px;
  }

.container{
  border: 2px solid rgba(65,37,103,1);
  background-color: rgba(65,37,103,1);
  color: #ffffff;
  padding: 120px 200px;
  border-radius: 8px;
  gap: 40px;
}


.nav_grid {
  border: 40px;
  padding: 40px;
  width: 250px;
  height: 500px;
  gap: 16px;
  grid-area: navbar;
}

.main_grid {
  border: 40px;
  padding: 40px;
  width: 790px;
  height: 225px;
  gap: 16px;
  grid-area: main;
}

#sidebar {
  border: 40px;
  padding: 40px;
  width: 790px;
  height: 225px;
  gap: 16px;
  grid-area:sidebar;
}

/* header {
  grid-area: header;
} */

/* #advertise {
  border: 40px;
  padding: 40px;
  width: 350px;
  height: 150px;
  /* height: 270px; */
  /* gap: 16px;
  grid-area: advertise;
}
.footer_grid {
  border: 40px;
  padding: 40px;
  width: 790px;
  height: 150px;
  gap: 16px;
  grid-area: footer;
}  */ 
#tech_wave {
  display: flex; 
  border: 1px solid rgba(65,37,103,1);
  width: 1600px;
  height: 1121px;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0 auto;
  color: #ffffff;
}

.container_title {
  width: 1200px;
  font-size: 3rem;
  font-weight: 700;
  line-height: 58px;
  text-align: center;
  padding: 60px 0;
}

.container {
  display: grid;
  width: 1200px;
  background-color: rgba(65,37,103,1);
  color: #ffffff;
  padding: 40px;
  border-radius: 8px;
  gap: 20px;

  grid-template-columns: 400px 1fr 1fr;
  grid-template-rows: auto auto auto;

  grid-template-areas: 
    "navbar sidebar sidebar"
    "navbar main main"
    "footer footer advertise";
}

/* Shared styles */
.nav_grid,
.main_grid,
#sidebar,
#advertise,
.footer_grid {
  border: 2px solid #ffffff;
  padding: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  justify-content: left;
  text-align: left;
  background-color: rgba(65,37,103,1);
  
}
/* Icons Images */
.nav_icon,
.side_bar_icon,
.footer_icon,
.main_icon,
.advertise_icon{
  width: 60px;
  height: auto;
  object-fit: contain;
}
/* Headings */
.nav_grid h2,
#sidebar h2, 
#advertise h2, 
.main_grid h2
.footer_grid h2 {
  font-size: 1.4rem;
  font-weight: 700;
}

/* Paragraphs */
.nav_grid p,
#sidebar p,
#advertise p, 
.main_grid p,
.footer_grid p
{
  font-size: 1rem;
  font-weight: 400;
  line-height: 25px;
  color: #ffffff;
}

/* Grid areas */
.nav_grid {
  grid-area: navbar;
}

#sidebar {
  grid-area: sidebar;
}

.main_grid {
  grid-area: main;
}

.footer_grid {
  grid-area: footer;
}

#advertise {
  grid-area: advertise;
}


/* Features Related Styles */
#feature_epic{
  border: 1px solid rgba(65,37,103,1);
  width: 1600px;
  height: 1121px;
  margin: 0 auto;
  padding: 120px 200px;
  text-align: center;
  color: #ffffff;
}
.feature_title {
  width: 1200px;
  font-size: 3rem;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  padding: 30px 0;
}
.feature_container{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.feature_card{
  width: 280px;
  height: auto;
  border: 2px solid coral;
  border-radius: 24px;
  padding: 5px;
  /* box-shadow: 10px 10px 10px rgb(190, 179, 179); */
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  margin: 0 auto;
}

.feature_card img{
  width: 100%;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%; /* Ensures the container doesn't exceed the parent width */
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none; /* Removes the default iframe border */
}


.ply-display{
  display: flex;
  align-items: center;
  gap: 5px;
  color: #00FF88;
  
}

.ply-img{
      width: 3px;
      height: 3px;
      display: inline;
      color: #00FF88;
      
}
/* Meet_host Related Styles */
.host_container{
  gap: 30px;

}
.host_title {
  width: 1200px;
  font-size: 3rem;
  font-weight: 600;
  line-height: 30px;
  justify-content: center;
  text-align: center;
  padding: 30px 0;
}
.host_card{
  width: 1200px;
  height: 280px;
  border: 2px solid #412567;
  border-radius: 24px;
  padding: 5px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  justify-content: center;
  align-content: center;
  text-align: left;
  margin: 0 auto;
}

.host_card img{
  width: 100%;
}
.host-info{
  display: flex;
  align-items: center;   /* vertically center items */
  gap: 24px;             /* space between image and text */
  border: 1px solid #412567;
  padding: 40px;
  border-radius: 40px;
  background-color: #412567;
  color: #fff;
  justify-content: flex-start;
  flex-direction: row;
  /* max-width: 600px; */
  width: 1200px;
  height: 280px;
}

.host-img {
  width: 200px;
  height: 200px;
  flex-shrink: 0;    /* prevents image from shrinking */
}

.host-icons{
  gap: 8px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.host-icons img{
  width: 30px;
  height: 30px;
  gap: 12px;
  border: 2px 2px;
  
}

/* Text block */
.host_card h2 {
  font-size: 1.4rem;
  margin: 0;
}

.host_card p {
  font-size: 1rem;
  margin: 4px 0 0;
  line-height: 1.5;
}
/* Footer */
#footer{
    background-image: url("./images/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1600px;
    height: 250px;
    margin: 0 auto; 
    /* border: 1px solid rgba(65,37,103,1);  */

  }
  
  .footer-container {
    display: grid;
    grid-template-rows: repeat(4,1fr);
    justify-content:center;
    align-items: center;
    margin: 120px 120px;
    padding-top: 20px;
    padding-bottom: 100px;
    /* line-height: 40px; */
      /* gap: 45px; */
  }

.footer-logo{
  margin: 0 auto;
  /* justify-content:center;
    align-items: center; */
}

  #icons {
    /* display: inline; */
    gap: 15px;
    width: 1260px;
    height: 24px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content:center;
    align-items: center;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
  
  }
  .footer-copy_text{
    /* width: 540px; */
    font-size: 1rem;
    font-weight: 400;
    gap: 30px;
    text-align: center;
  }

  .footer-display{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #ffffff;
    text-decoration: none;
  }
 
  .footer-icon-img{
        width: 20px;
        height: 20px;
        display: inline;
  }

  